.accountant-4-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    padding: 20px 0;
}

.accountant-4-container {
    width: 800px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.accountant-4-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-bottom: 2px solid #ddd;
}

.accountant-4-contact {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
}

.accountant-4-contact h1 {
    font-size: 28px;
    margin: 0;
    color: #333;
}

.accountant-4-contact h2 {
    font-size: 16px;
    margin: 0;
    color: #777;
}

.accountant-4-contact-details {
    text-align: right;
    width: 50%;
    background: #b8b5b5;
}

.accountant-4-contact-details-firstdiv {
    border-bottom: 2px solid white;
}

.accountant-4-contact-details p {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.accountant-4-contact-details p svg {
    margin-right: 10px;
}

.accountant-4-content {
    display: flex;
    padding: 30px;
}

.accountant-4-left-content {
    width: 35%;
    padding-right: 20px;
    border-right: 2px solid #ddd;
}

.accountant-4-right-content {
    width: 65%;
    padding-left: 20px;
}

.accountant-4-section {
    margin-bottom: 20px;
}

.accountant-4-section h3 {
    font-size: 16px;
    color: #555;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.accountant-4-section h4 {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
}

.accountant-4-section p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}