.main-template-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.download-section {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.main-content {
  display: flex;
  width: 800px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.change-photo-label {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.addrow-btn {
  padding: 5px;
  margin: 7px;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.profile-image input[type="file"] {
  display: none;
}

.left-section {
  width: 287px;
  font-size: small;
  font-weight: 500;
  background-color: rgb(0, 102, 133);
  color: rgb(255, 255, 255);
}

.left-content {
  padding: 0.5rem;
}

.profile-details {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  display: block;
  margin: auto;
  width: 113px;
  height: 110px;
  border: 3px solid white;
  border-radius: 30%;
  box-shadow: 0 0 10px 1px white;
  overflow: hidden;
  cursor: pointer;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.02px;
  padding: 0.8rem;
}

.designation {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: white;
}

.About_me li {
  list-style-type: square;
}

.description {
  font-size: .75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  color: white;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mobile img {
  width: 20px;
  height: 20px;
}

.email img {
  width: 20px;
  height: 20px;
}

.icon {
  border: 1px solid white;
  margin: 20px;
  width: 30px;
  height: 30px;
}

.skills {
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem .5rem;
}

.skill-name {
  font-size: 0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
}

.right-main-content {
  padding: 1rem 2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

.right-section {
  width: 513px;
  font-size: small;
  font-weight: 500;
  background-color: azure;
  color: rgb(0, 102, 133);
}

.right-title {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: .5rem;
  letter-spacing: 1px;
}

.downloadpdf-btn {
  padding: 5px;
  margin: 30px;  
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  width: 122px;
  height: 49px;
}

@media screen and (max-width: 673px) {
  .main-content {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .main-template-body {
    display: flex;
    flex-direction: column;
  }

  .download-section {
    width: 315px;
    text-align: center;
    color: rgb(0, 102, 133);
  }

  .left-section {
    font-size: medium;
    font-weight: 500;
    background-color: rgb(0, 102, 133);
    color: rgb(255, 255, 255);
  }

  .left-content {
    padding: 1rem;
  }

  .profile-details {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    display: block;
    margin: auto;
    height: 110px;
    border: 3px solid white;
    border-radius: 30%;
    box-shadow: 0 0 10px 1px white;
    overflow: hidden;
    cursor: pointer;
  }

  .profile-image img {
    height: 110px;
    width: auto;
    object-fit: fill;
  }

  .name {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.5rem;
  }

  .description {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
    color: white;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .icon {
    border: 1px solid white;
    margin: 10px;
    width: 30px;
    height: 30px;
  }

  .skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
  }

  .skill-name {
    font-size: 0.65rem;
    text-align: left;
    padding-bottom: 0.5rem;
  }

  .progress-bar {
    border: 1px white solid;
    height: 6px;
  }

  .right-main-content {
    padding: 2rem 1rem;
  }

  .right-section {
    font-size: medium;
    font-weight: 500;
    background-color: azure;
    color: rgb(0, 102, 133);
  }

  .right-title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    letter-spacing: 1px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  .addrow-btn {
    padding: 5px;
    margin: 7px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

  .downloadpdf-btn {
    padding: 5px;
    margin: 7px;
    background-color: #007bff;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
}

@media print {
  .addrow-btn{
    display: none;
  }
}