.template-12-resume-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.template-12-resume-header {
    letter-spacing: 4px;
}

.template-12-resume-left {
    padding: 11px;
    width: 60%;
}

.template-12-resume-right {
    background: #333;
    color: #fff;
    padding: 20px;
}

.template-12-photo {
    display: flex;
    justify-content: center;
}

.template-12-photo img {
    width: 150px;
    height: 137px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: auto;
}

.template-12-contacts p {
    text-decoration: underline;
}

.template-12-resume-header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.template-12-resume-header h2 {
    margin: 5px 0;
    font-size: 20px;
    color: #888;
}



.template-12-profile {
    margin-bottom: 20px;
    background-color: #dfdede;
}

.template-12-skills {
    background-color: #333;
    color: #fff;
}

.template-12-rightside-divs {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.template-12-profile h3,
.template-12-work-experience h3,
.template-12-education h3,
.template-12-contacts h3,
.template-12-skills h3 {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 23px;
    text-decoration: underline;

}

.template-12-job {
    margin-bottom: 20px;
}

.template-12-job-head {
    display: flex;
    justify-content: space-evenly;
}

.template-12-job h4 {
    font-size: 18px;
    margin: 0;
}

.template-12-company {
    font-size: 16px;
    font-style: italic;
    color: #888;
}

.template-12-date-location {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
    padding: 3px;
    border-top: 2px solid #aea8a8;
    border-bottom: 2px solid #aea8a8;
    height: 30px;
}

.template-12-contacts p,
.template-12-education p,
.template-12-skills p {
    margin: 5px 0;
}


@media (max-width: 768px) {
    .template-12-resume-container {
        flex-direction: column;
    }

    .template-12-resume-left {
        border-right: none;
        border-bottom: 2px solid #000;
    }
}