.template-5-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f2af01;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header-right {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right p {
    margin: 2px 0;
}

section {
    margin-bottom: 20px;
}

.heading-template-5 {
    color: #f2af01;
    margin-bottom: 10px;
}

.job,
.education-item {
    margin-bottom: 20px;
}

.date {
    font-style: italic;
    color: #888;
}
